extends layout

block content
  script.
    var socket = io.connect('http://localhost');
    var timeRemaining;
    var timerIncrements = 50;

    var intervalArr = new Array();

    function killIntervals() {
      while(intervalArr.length > 0)
        clearInterval(intervalArr.pop());
    };

    gameTimer = function() {
      console.log('timeRemaining', timeRemaining);
      if (timeRemaining > 0) {
        timeRemaining -= timerIncrements;
      } else {
        killIntervals();
      }
      //update element with remaining milliseconds
      $('.duration span').text(timeRemaining);
    }

    socket.on('connect', function () {
      socket.emit('auth_user', { id: user_id });
    });

    //event handler for notification
    socket.on('notification', function (data) {
      $('.notification').text(data.text);
    });

    //event handler for notification
    socket.on('reject_user', function () {
      setTimeout( function() {
        window.open('/newgame.html','_self');
      }, 2000);
    });

    //event handler for notification
    socket.on('accept_user', function () {
      // check the game state and set up the game page accordingly.
      socket.emit('game_state');
    });

    socket.on('countdown', function (data) {
      $('.countdown').show();
      $('.countdown .number').text(data.countdown);
    });

    socket.on('game_start', function (data) {
      timeRemaining = data.duration;
      $('.countdown').hide();
      $('.button-box').show();

      intervalArr.push(setInterval(gameTimer, timerIncrements));
    });


    socket.on('current_state', function(data) {
      switch(data.current_state) {
        case 'inactive':
          $('.notification').text('game is not running.');
        break;
        case 'announced':
          $('.notification').text('game announced, counting down!');
          $('.countdown').show();
        break;
        case 'active':
          $('.notification').text('game running!');
        break;
        case 'results':
          $('.notification').text('processing results...');
          window.open('/results.html', '_self');
        break;
      };
    });

  h1= title
  p.notification
  p(class="countdown" style="display:none")
    span(class="number") #{countdown}
    | &nbsp;seconds to go

  div(class="button-box" style="display:none")
    p.duration
      | Time left&nbsp;
      span
      | &nbsp;milliseconds

    p Push the button!
    a.big-button this is the big button