doctype html
head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/jquery.cookie.js")
  script.
    if (typeof $.cookie('user_id') !== "undefined") {
      var user_id = $.cookie('user_id');
    } else {
      var user_id = false;
    }
  block content